body {
	background: #f3f5fc;
	font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

header img{
	width: 120px;
	height: 48px;
	margin-top: 40px;
	margin-left: 40px;
}

#container {
	display: flex;
	margin-bottom: 50px;
  margin-left: 80px;
}


#principal textarea {
	border: none;
	background-color: transparent;
	resize: none;
  color: #0A3871;
  margin-top: 90px;
  text-transform: lowercase;
}


.containerButton {
	display: flex;
	margin-top: 20px;
}

#buttonCriptografar {
	background-color: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  width: 328px;
}

#buttonDescriptografar{
	background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}

#semResultado {
	width: 30%;
	margin: 20px 20px 20px 0;
	padding: 100px 10px;
	background-color: white;
	border-radius: 14px;
	align-items: center;
	display: none;
}

#msgNaoEncontrada {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.comResultado {
	width: 30%;
	margin: 20px 20px 20px 0;
	padding: 100px 10px;
	background-color: white;
	border-radius: 14px;
	align-items: center;

}

#principal h6{
	color: #495057;
  font-size:10px;
}
footer {
	text-align: center;
	padding: 20px 0;
}